<div>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
      <h1 class="text-white">Mongo Scraper</h1>
      <h2 class="my-3 text-white">New York Times Edition</h2>
    </div>
  </div>
</div>