<div>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
      <h1 class="text-white">{{#if home}}Mongo Scraper{{else}}Saved Articles{{/if}}</h1>
      <h2 class="my-3 text-white">{{#if home}}New York Times Edition{{else}}Your Saved Articles{{/if}}</h2>
    </div>
  </div>
</div>